<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.travels.dao.TravelsTitleMapper">
    <select id="getTravelsIdList" resultType="java.lang.Long">
        select t.id
        from travels t
        where t.is_deleted = 'N'
        and (
        t.name like concat('%',concat(#{info},'%'))
        or t.address like concat('%',concat(#{info},'%'))
        or t.publish_date like concat('%',concat(#{info},'%'))
        or t.opentime like concat('%',concat(#{info},'%'))
        or t.budget like concat('%',concat(#{info},'%'))
        or t.brief_desc like concat('%',concat(#{info},'%'))
        or t.traffic_info like concat('%',concat(#{info},'%'))
        or t.resraurant_info like concat('%',concat(#{info},'%'))
        or t.hotel_info like concat('%',concat(#{info},'%'))
        <!--        or t.creator_name like concat('%',concat(#{info},'%'))-->

        )
    </select>
</mapper>